# file types
*.o
*.a
*.pyc
*.png
._*

# folders
data/*
0*
*.plt
cases/convergence/cavityRe100/*/T*

# files
bin/cuIBM
forces
iterations
run.info
grid
scripts/python/*.bdy
*.txt
!validation-data/*.txt
