# file types
*.o
*.a
*.pyc
*.png
*.pdf
._*
massFlux

# folders
data/*
html/*
latex/*
0*
*.plt
cases/convergence/cavityRe100/*/T*
doc/*

# files
bin/cuIBM
forces
iterations
run.info
grid
scripts/python/*.bdy
*.txt
!validation-data/*.txt
