# file types
*.o
*.a
*.pyc
*.png
*.pdf
._*
massFlux

# folders
html/*
latex/*
0*
*.plt
cases/convergence/cavityRe100/*/T*
doc/html

# files
bin/cuibm
bin/tests
forces
iterations
run.info
grid
scripts/python/*.bdy
*.txt

# backup files of VIM
.*.swp
.*\~
*\~

# ignore Ruby script to generate metadata file codemeta.json
generate_codemeta.rb
