<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,800,500' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<style>

@font-face {
    font-family: "Computer Modern";
    src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

#notebook_panel { /* main background */
	background: #FFFFFF;
}

div.cell { /* set cell width to about 80 chars */
    width: 800px;
	margin-left: 10% !important;
	margin-right: 10% !important;
}

div #notebook { /* centre the content */
    background: #FFFFFF; /* white background for content */
    width: 1200px;
    margin: auto;
    padding-left: 0%;
    padding-right: 50%;
}

#notebook li { /* More space between bullet points */
margin-top:0.8em;
}

/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running { 
    border: 1px solid #003366;
}

/* Put a solid color box around each cell and its output, visually linking them*/
div.cell.code_cell {
    background-color: #FFFFFF; 
    border-radius: 0px; 
    padding: 0.5em;
    margin-top: 1em;
}

div.text_cell_render{
    font-family: 'PT Sans', sans-serif;
    line-height: 160%;
    font-size: 120%;
    font-weight: 400;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
}


/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Nixie One', serif;
    font-style: regular;
    font-weight: 800;    
    font-size: 40pt;
    line-height: 100%;
    color: #003366;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
}	
.text_cell_render h2 {
    font-family: 'Nixie One', serif;
	font-style: regular;
    font-weight: 800;
    font-size: 30pt;
    line-height: 100%;
    color: #003366;
    margin-bottom: 0.1em;
    margin-top: 0.4em;
    display: block;
}

.text_cell_render h3 {
    font-family: 'Nixie One', serif;
	font-style: regular;
	font-size: 20pt;
    font-weight: 800;
	line-height: 100%;
	color: #003366;
    margin-bottom: 0.1em;
	margin-top: 0.4em;
    display: block;
}

.text_cell_render h4 {
    font-family: 'Nixie One', serif;
	font-style: italic;
	font-size: 20pt;
	font-weight: 800;
	line-height: 100%;
	color: #003366;
	margin-bottom: 0.1em;
	margin-top: 0.4em;
	display: block;
}

.text_cell_render h5 {
    font-family: 'Arvo', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    color: grey;
    font-style: italic;
    margin-bottom: .1em;
    margin-top: 0.1em;
    display: block;
}

.text_cell_render h6 {
    font-family: 'PT Mono', sans-serif;
    font-weight: 300;
    font-size: 9pt;
    line-height: 100%;
    color: grey;
    margin-bottom: 1px;
    margin-top: 1px;
}

.CodeMirror{
        font-family: "PT Mono";
        font-size: 90%;
}

</style>
